* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

a {
    color: #000;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 17px;
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 10000px;
    z-index: -1;
}

.circle-1 {
    width: 536px;
    height: 536px;
    background: linear-gradient(135deg, #009FFD, #2A2A72, #2A2A72);
    animation: circle 20s infinite;
}

.circle-2 {
    width: 311px;
    height: 311px;
    background-color: #D387AB;
    animation: circle-2 20s infinite;
}

@keyframes circle {
    0% {
        left: 30%;
        top: 0%;
    } 20% {
        left: 26%;
        top: 31%;
    } 40% {
        left: 35%;
        top: 0%;
    } 60% {
        left: 30%;
        top: 100%;
    } 80% {
        left: 0%;
        top: 18%;
    } 100% {
        left: 30%;
        top: 0%;
    }
}

@keyframes circle-2 {
    0% {
        top: 100%;
        left: 70%;
    } 20% {
        top: 51%;
        left: 0;
    } 40% {
        top: 51%;
        left: 51%;
    } 60% {
        top: 41%;
        left: 65%;
    } 80% {
        top: 91%;
        left: 0%;
    } 100% {
        top: 100%;
        left: 70%;
    }
}

h3 {
    color: #7486A1;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: "Roboto Slab";
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 17px;
}

body:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #FFFFFF, #C0C8FF);
    z-index: -1;
}

.noise {
    background: linear-gradient(45deg, rgba(191, 215, 235, .1), rgba(255, 255, 255, 1));
    position: relative;
    backdrop-filter: blur(25px);
}

.noise:before {
    opacity: 0.1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("./img/noise.png");
    background-size: contain;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.menu img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.menu a {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    color: #7486A1;
}

.menu h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.menu .links a {
    margin-bottom: 16px;
}

.menu .top .links {
    margin-top: 30px;
}

.menu .top .logo img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.menu, .overview {
    border: 2px solid #fff;
    height: 100%;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
}

.overview {
    background: linear-gradient(315deg, rgba(191, 215, 235, .1), rgba(255, 255, 255, 1));
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.overview .wrapper {
    display: flex;
    height: 100%;
}

.overview .wrapper .side-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    grid-gap: 22px;
}

.overview .wrapper .side-left .left-top {
}

.overview .wrapper .side-left .left-top,
.overview .wrapper .side-left .left-bottom {
    height: 100%;
    border-radius: 14px;
}

h3 {
    padding: 22px 22px 0 22px;
}

.overview .wrapper .side-left, .overview .wrapper .side-right {
    height: 100%;
    border-radius: 14px;
}

.overview .wrapper .side-right {
    width: 30%;
    margin-left: 22px;
}

.overview .noise {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    background: none;
    background-color: rgba(255, 255, 255, .15);
}

.overview .noise:before {
    display: none;
}

.overview h1 {
    margin-bottom: 30px;
}

.courses-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    overflow-x: scroll;
    /* padding: 0 22px 22px; */
}

.courses-list .item {
    padding: 6px;
    display: flex;
    flex-direction: column;
    width: 245px;
    background-color: #fff;
    border-radius: 8px;
}

.courses-list .item .preview {
    height: 154px;
    object-fit: cover;
    border-radius: 6px;
}

.courses-list .item .description {
    padding: 18px 12px 12px 12px;
}

.courses-list .item .description .title {
    font-size: 18px;
    font-family: "Roboto Slab";
    font-weight: 600;
}

.courses-list .item .description .text {
    display: block;
    margin: 7px 0 19px;
    font-size: 13px;
    color: #7486A1;
}

.courses-list .item .description .price {
    font-size: 14px;
    font-family: "Roboto Slab";
    font-weight: 600;
}

.teacher-list {
    display: grid;
    grid-gap: 15px;
    overflow-x: scroll;
    /* padding: 0 22px 22px; */
}

.teacher-list .item {
    width: 168px;
    height: 230px;
    background-image: url("https://images.unsplash.com/photo-1648737966614-55e58b5e3caf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80");
}

.overview .wrapper .left-top {

}
